$white: #ffffff;

$light-grey:  #e6e5d9;
$dark-grey: #707070;

$light-sand: #FCFCF7;
$sand:#F6F6E9;
$dark-sand: #AC9D8E;

$brown: #D77D31;
$dark-brown: #37251B;

$font-primary: 'Courgette', sans-serif;
$font-secondary:  "Open Sans", sans-serif;

$font-light: 300;
$font-regular: 400;
$font-bold: 700;

$font-small: 0.88rem;// 14px
$font-regular-large: 1.2rem; // 18px
$font-large: 1.63rem; // 26px
$font-x-large: 1.88rem; // 30px
$font-xx-large: 2.5rem; // 40px


// Media queries
$mobile-up: 400px;