// Colors 
$light-sand: #FCFCF7;
$sand: #F6F6E9;
$green: #9DC74E;
$grey: #E6E5D9;
$brown: #37251B;
$brown-red:  #D77D31;
$light-brown: #AC9D8E;

// Theme
$color-light: #ffffff;
$color-background: $sand;
$color-light-background: $light-sand;
$color-logo: $green;
$color-menu-background: $grey;
$color-menu-text: darken($grey,50%);
$color-header: $brown;
$color-text: lighten($brown, 45%);
$color-button: $brown-red;
$color-footer: darken($grey, 10%);

// Fonts
$font-family-text: 'Courgette', sans-serif;
$font-family-header:  "Open Sans", sans-serif;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 700;

$font-size: 16;
$font-size-base: $font-size + px; // 16px
$font-size-h1: 1.87rem; // 30px
$font-size-h2: 1.63rem; // 26px
$font-size-h3: 1.2rem; // 18px
$font-size-feature: 0.88rem;// 14px
$font-size-footer: 0.81rem; //13px

// Mixins
@mixin flex($justify-content: default, $align-items: default){
  display: flex;
  justify-content: $justify-content;
  align-items: $align-items
}

@mixin hover($color: $color-button){
  transition: color 0.2s ease;
  &:hover {
    color: $color;
  }
}

@mixin mobile-up {
  @media(min-width: 400px){
    @content
  }
};

@mixin tablet-up {
  @media(min-width: 720px){
    @content
  }
};

@mixin laptop-up {
  @media(min-width: 1080px){
    @content
  }
}; 

//Functions
@function rem($px){
  @return ($px/$font-size)+rem;
}

// Media queries
$mobile-up: 400px;