@mixin container($width: 1080px) {
  max-width: $width;
  margin: 0 auto;
}

@mixin flex($justify-content: null, $align-items: null,$direction: null){
  display: flex;
  justify-content: $justify-content;
  align-items: $align-items;
  flex-direction: $direction;
}

@mixin font($family: null,$weight: null,$size: null){
  font-family: $family;
  font-weight: $weight;
  font-size: $size;
}

@mixin hover($color: $color-button){
  transition: color 0.2s ease;
  &:hover {
    color: $color;
  }
}

@mixin mobile-up {
  @media(min-width: 400px){
    @content
  }
};

@mixin tablet-up {
  @media(min-width: 720px){
    @content
  }
};

@mixin laptop-up {
  @media(min-width: 1080px){
    @content
  }
}; 

//Functions
@function rem($px){
  @return ($px/$font-size)+rem;
}

